<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Monaco, sans-serif;
        background-color: rgb(213, 211, 211);
      }
      div {
        top: 0;
        bottom: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
    <title>Verification page</title>
  </head>
  <body>
    <div>
      <h1>Your email is verified successfully</h1>
      <h2>You can login now, with your new account :)</h2>
    </div>
  </body>
</html>
